.*env
.nox/
*.pyc
**/__pycache__/
**/.pytest_cache/
**/dist/
**/build/
**/*.egg-info/
**/.mypy_cache/
.virtual_documents/
.ipynb_checkpoints/
analysis-notebooks/
requirements/*.txt
# This should be local
pyrightconfig.json
*.eqx
*.parquet
*.npz
